<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span>MENU</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html"><img src="images/wxox-logo.jpg" style="height:50px;" />ARTxFM</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">LISTEN</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">STATION <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">SCHEDULE</a></li>
            <li><a href="single-post.html">PROGRAMS</a></li>
          </ul>
        </li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">SUPPORT</a></li>
        <li><a href="#">ARTICLES</a></li>
      </ul>
    </div>
  </div>
</div>
