<table class="table table-condensed table-schedule table-striped table-bordered">
  <caption>Program Schedule</caption>
  <tbody>
    <tr>
      <th></th>
      <th class="text-center">SUN</th>
      <th class="text-center">MON</th>
      <th class="text-center">TUE</th>
      <th class="text-center">WED</th>
      <th class="text-center">THUR</th>
      <th class="text-center">FRI</th>
      <th class="text-center">SAT</th>
    </tr>
    <tr>
      <th class="schedule-time">7 AM</th>
      <td></td>
      <td>Marianne in the Morning</td>
      <td>Marianne in the Morning</td>
      <td>Marianne in the Morning</td>
      <td>Morning Marianne in the Morning</td>
      <td>Morning Marianne in the Morning</td>
      <td> </td>
    </tr>
    <tr>
      <th class="schedule-time">8 AM</th>
      <td rowspan="2">Blues Highway w/ Mike Suttles</td>
      <td rowspan="2">A Little Bit Country, A Little Bit Country Club w/ Willie McLean</td>
      <td>ARTxFM Programming</td>
      <td rowspan="2">ARTxFM Programming</td>
      <td rowspan="2">The Dig w/ Joseph &amp; Ben</td>
      <td rowspan="2">Informed Consent w/ Aaron Gregory</td>
      <td>The Juan Leone Music Hour</td>
    </tr>
    <tr>
      <th class="schedule-time">9 AM</th>
      <td>Keep Louisville Literary w/ Rachel Short</td>
      <td>Film Fatale w/ Mike Elsherif &amp; JohnBen Lacy</td>
    </tr>
    <tr>
      <th class="schedule-time">10 AM</th>
      <td>ART is for Everyone w/ Squallis Puppeteers</td>
      <td>KMAC Radio w/ The Kentucky Museum of Art &amp; Craft</td>
      <td>OhManYes! w/ Julie Gross</td>
      <td>Audio Art 101 w/ Valerie Fuchs</td>
      <td>PUBLIC --- Louisville Visual Art</td>
      <td rowspan="2">Sir Basil Outernational</td>
      <td rowspan="2">Fortifed Gumbo w/ Prof L</td>
    </tr>
    <tr>
      <th class="schedule-time">11 AM</th>
      <td>Ear to Ear w/ Gregory -OR- Other People's Music w/ Misha</td>
      <td rowspan="2">Chick Habit w/ Blessing</td>
      <td rowspan="2">Air Force 1 w/ DJ Jet Pilot</td>
      <td rowspan="2">Muddle Instead of Music w/ Jacob Gotlib</td>
      <td>In the House --- Asia Institute Crane House</td>
    </tr>
    <tr>
      <th class="schedule-time">12 PM</th>
      <td rowspan="2">Gemini Time w/ DJ Clawdada</td>
      <td>Early Music Party w/ Jaxon Swain</td>
      <td>The Diva Hour with Carly &amp; Cline</td>
      <td rowspan="2">African Safari w/Johnny Anku</td>
    </tr>
    <tr>
      <th class="schedule-time">1 PM</th>
      <td>At The Helm w/ Ben Helm</td>
      <td>Keeney Invasion w/ Doug Keeney</td>
      <td>Fly Closer to the Sun w/ Tim Barnes</td>
      <td rowspan="2">Disco Dominant / Soul Submissive w/ John Penn Browning</td>
      <td>Lady Jam's Juice Box w/ Mary &amp; Kim</td>
    </tr>
    <tr>
      <th class="schedule-time">2 PM</th>
      <td rowspan="2">Flanger Magazine w/ Chris &amp; Ben</td>
      <td rowspan="2">ARTxFM Programming</td>
      <td>Bangers &amp; Mash w/ Michael Taylor</td>
      <td>Acentos w/ Luis de Leon</td>
      <td rowspan="2">Punk Rockets w/ Leslie, Olivia &amp; Ethan</td>
      <td rowspan="2">Global Grease w/ Kim Sorise</td>
    </tr>
    <tr>
      <th class="schedule-time">3 PM</th>
      <td rowspan="3">ClifTones w/ JC Denison</td>
      <td>Mir Music w/ Jake Groves</td>
      <td>The AP Hour w/ Ali &amp; Priscilla</td>
    </tr>
    <tr>
      <th class="schedule-time">4 PM</th>
      <td rowspan="2">Cat Casual's Hotel Bohème</td>
      <td rowspan="2">ARTxFM Programming</td>
      <td rowspan="2">La La Land w/ Lauren Argo</td>
      <td rowspan="2">Hundred Proof Fountain w/ Capt'n Scratch &amp; DJ Green Eyes</td>
      <td rowspan="2">Wayfarer Way w/ Col. Jamison Pickerill</td>
      <td rowspan="2">Off the Track w/ John Papanek</td>
    </tr>
    <tr>
      <th class="schedule-time">5 PM</th>
    </tr>
    <tr>
      <th class="schedule-time">6 PM</th>
      <td>The Old &amp; The Odd w/ Bret Berry</td>
      <td>Club El Rancho w/ Brian Manley</td>
      <td rowspan="2">Mingle w/ Kevin Coultas</td>
      <td>Inside a Question w/ Darrick Wood</td>
      <td rowspan="2">w/ Darrick Wood FUZZBOX! with Sister Fox &amp; Professor Reilly</td>
      <td rowspan="2">Rad Tantrum w/ McKinley Moore &amp; Matt Dodds</td>
      <td rowspan="2">Rough Draft w/ Clayton Ray &amp; Aron Conaway</td>
    </tr>
    <tr>
      <th class="schedule-time">7 PM</th>
      <td>Split Ends w/ Connor Waldman</td>
      <td>Night Train Cocktail Lounge w/ Brian Manley</td>
      <td>ARTxFM Programming</td>
    </tr>
    <tr>
      <th class="schedule-time">8 PM</th>
      <td>Source Material w/ JP Source</td>
      <td rowspan="2">Cutting Edges w / Shawn, Zach, Tony</td>
      <td>No Tricks w/ Megan</td>
      <td rowspan="2">The Deep End w/ Joey Mudd</td>
      <td rowspan="2">Square One Radio w/ Clayton Ray</td>
      <td rowspan="2">Version Smith Selects</td>
      <td rowspan="2">Selects Alien Jingles w/ Nick Sturtzel</td>
    </tr>
    <tr>
      <th class="schedule-time">9 PM</th>
      <td>In Orbit w/ Nathan Simmons</td>
      <td>The Tia Maria Show</td>
    </tr>
    <tr>
      <th class="schedule-time">10 PM</th>
      <td>ARTxFM Programming</td>
      <td>Radio Presque Rien w/ Aaron Rosenblum</td>
      <td rowspan="2">I and Eye Radio w/ Rmllw2llz &amp; DJ DS</td>
      <td rowspan="2">Party Pants w/ Jaxon Swain</td>
      <td rowspan="2">Rock Sexy w/ Blythe of the Ball</td>
      <td rowspan="2">Wayward Distraction w/ Mark and Mark</td>
      <td rowspan="5">It's Always Something w/ Sean Selby</td>
    </tr>
    <tr>
      <th class="schedule-time">11 PM</th>
      <td rowspan="2">Mythic Beat w/ DJ Mythos</td>
      <td>Mythos Midnight Locker w/ Shutaro Noguchi</td>
    </tr>
    <tr>
      <th class="schedule-time">12 PM</th>
      <td></td>
      <td rowspan="2">Parallel Universe w/ Kara</td>
      <td>Free Associations w/ Mark</td>
      <td rowspan="3">Small Hours w/ Ethan A.D.</td>
      <td rowspan="2">The Wizard's Lounge w/ Docktor Dave</td>
    </tr>
    <tr>
      <th class="schedule-time">1 AM</th>
      <td></td>
      <td rowspan="2">ARTxFM Programming</td>
      <td rowspan="2">Corinthian Leather w/ Andrew</td>
    </tr>
    <tr>
      <th class="schedule-time">2 AM</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="schedule-time">3 AM</th>
      <td colspan="7"></td>
    </tr>
    <tr>
      <th class="schedule-time">4 AM</th>
      <td colspan="7"></td>
    </tr>
    <tr>
      <th class="schedule-time">5 AM</th>
      <td colspan="7"></td>
    </tr>
    <tr>
      <th class="schedule-time">6 AM</th>
      <td colspan="7"></td>
    </tr>
  </tbody>
</table>
